.circleCard{
    border-radius: 50%;
    background-color: rgba(235, 247, 239, 1)    ;
    width:100px;
    height:100px;
}
.card2{
    background-color: rgba(245, 245, 245, 1);
    padding: 30px;
    margin: 10px;
}
.b1{
    margin :10px;
}
.d-flex1{
    display: flex;
    /* gap: 15px; */
    justify-content: space-between;

}
.d-flex2{
    display: flex;
    /* gap: 40px; */
    justify-content: space-between;
}
.cont{
    padding: 40px;
}
.mb-20{
    margin-bottom: 2px;
}
.circle-txt{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0px;
text-align: center;

}
.mentorship{
    font-family: Mint Grotesk Trial;
font-size: 42px;
font-weight: 600;
line-height: 46px;
letter-spacing: 0px;
text-align: center;

}
.insideC{
    font-family: Mint Grotesk Trial;
font-size: 28px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0px;
text-align: left;

}
.studentwm{
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
background-color: (245, 245, 245, 1);
padding: 6px, 20px, 6px, 20px;

}
.p-txt{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0px;
text-align: left;

}
.place{
    font-family: Mint Grotesk Trial;
font-size: 20px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;
text-align: left;

}

@media only screen and (max-width: 600px) {
   .d-flex1,.d-flex2{
    flex-direction: column;
   }
   }